
 *{margin:0;padding:0;}
 h1 {
    font-family: Domine, serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.39;
    color: rgb(38, 38, 38);
}
.subText {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: rgb(38, 38, 38);
}
* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

.fs-title {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}


#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform .fieldset .form-card {
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 auto;
    position: relative;
}

#msform .fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform .fieldset:not(:first-of-type) {
    display: none
}

#msform .fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 0 auto;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    font-weight: bold;
    text-align: center
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
	width: 100%;
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 14.28%;
    position: relative;
    float: left;
}

#progressbar #account:before {content: "Step 1"}
#progressbar #personal:before {content: "Step 2"}
#progressbar #payment:before {content: "Step 3"}
#progressbar #confirm:before {content: "Step 4"}
#progressbar #E:before {content: "Step 5"}
#progressbar #F:before {content: "Step 6"}
#progressbar #G:before {content: "Step 7"}

#progressbar li:before {
    width: 80px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 5px;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}
header{
	background:#0d1675;
	    margin-bottom: 20px;
}
header img {
    width: 56px;
    height: 64px;
}
a.nav-link.contact {
    color: #fff;
}
footer{
	background:#0d1675;padding: 15px;
}
footer img {
    width: 111px;
    height: 120px;
    margin-bottom: 30px;
}
.row.end {
    padding: 10px;
    color: #fff;
}
.input-group label {
    display: block;
    clear: both;
    width: 100%;
}

.input-group label input {
    display: inline-block !important;
    width: auto !important;
    margin: 0 5px 0 0 !important;
}

.form-inline.my-2.my-lg-0.ml-auto {
    list-style: none;
}

.form-inline.my-2.my-lg-0.ml-auto a, footer a{
    color: #fff;
}
input.btn.btn-success.btn-lg.btn-block.rounded.subText.p-3.mt-3.text-white.rounded {
    border-color: #0d1675;
    background: #0d1675;
}
footer {
    margin-top: 20px;
}
a.btn.get {
    font-size: 20px;
    background: #0d1675;
    color: #fff;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
img.img-responsive {
    max-width: 100%;
    margin-bottom: 20px;
}
.form-card.row h5 {
    margin-bottom: 25px;
    color: #000;
}
.form-inline.my-2.my-lg-0.ml-auto a.dropdown-item {
    color: #000;
}
.input-group.inline label, h5.inline {
    display: initial;
    margin: 0 10px;
}
p.col-12.inline input, h5.inline input {
    width: auto !important;
    margin: 0 6px;
}
p.col-12.inline {
    text-align: center;
    margin-bottom: 22px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    max-width: 900px;
    margin: 0 auto 20px;
}
.form-card select {
    width: 100%;
    padding: 0 !important;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;
}
p.col-12.inline span {
    display: inline-block;
}
#login_page h1.text-center.text-white.mt-3 {
    color: #000 !important;
    font-size: 26px;
    margin: 10px !important;
    padding: 0 !important;
}
.col-md-8.mt-5.mb-5 .card {
    max-width: 450px;
    margin: 0 auto;
}
.error-radio {
    display: block;
    position: absolute;
    bottom: 6px;
}
div#owershoipidsubmit {
    display: inline-block;
}

button#clear {margin-left: 20px;}
.error-cls {
    color: red;
    top: 17px;
    position: relative;
    left: 10px;
}
#step8 .input-group {
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,.125);
}
#step8 .input-group label {
    width: auto;
    color: #000;
    font-weight: bold;
}
#step8 .fs-title {
    margin-bottom: 0;
    margin-top: 25px;
    background: skyblue;
    padding: 10px 0px;
    color: #fff;
}
#step8 .input-group.inline label {margin: 0;}
#step8 img {width: 100%;transform: scale(1.3);}
form#step7 {overflow: hidden;}
form#step7 input[type=radio] {margin: 0 5px 0 22px !important;}
.progress {width: 100%;}
#galleryName {margin: 0 !important;}
#step7 label.text-left[for="myfile"] {font-size: 20px;font-weight: bold;}
#sig {padding: 0;overflow: hidden;}
/*#sig canvas {width: 980px !important;}*/
.kbw-signature {
    width: 800px !important;
    height: 200px;
    display: inline-block;
    border: 1px solid #ced4da;
    -ms-touch-action: none;
}

#step8 .input-group.additionalcl {
    justify-content: flex-start !important;
    padding-top: 15px;
}
#step8  img {
    transform: scale(1);
}
#step8 .additionalcl img {
    transform: scale(1);
    height: 90px;
}

#sigcanvasTargetDom {
    width: 100%;
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 200px;
}
#sigcanvasTargetDom img {
    height: 200px;
}
.img-zone {
    width: 100%;
}
#step7 .fieldset .form-card {
    padding: 0 !important;
    width: 100% !important;
}

@media (max-width: 767px){
    #progressbar {display: none;}
    #msform input[type="radio"]{width:auto;}
    #msform input, #msform textarea {padding: 0px 0 4px;}
    .error-cls {top: 6px;}
}
@media (max-width: 467px){
    #step2 .inline span:first-child {width: 100%;}
}